@charset "UTF-8";

/**
* Foundation
*=====================*/

@use "foundation/reset.scss" as r;
@use "foundation/variable.scss" as v;
@use "foundation/function.scss" as f;
@use "foundation/mixin.scss" as m;
@use "foundation/font.scss" as font;
@use "foundation/base.scss" as b;

/**
* Layout
*=====================*/

@use "layout/l-footer";
@use "layout/l-header.scss";
@use "layout/l-main";


/**
* Object
*=====================*/

/*Component-----------*/

@use "../scss/object/component/Wrapper";
@use '../scss/object/component/Heading--bold';
@use '../scss/object/component/Heading--m1bold';

/*hero*/
@use '../scss/object/component/Flexbox--column';

/*section*/
@use '../scss/object/component/Content';

@use '../scss/object/component/Quote';
@use '../scss/object/component/Cite';

/*card-archive*/
@use '../scss/object/component/Card';
@use '../scss/object/component/Image';
@use '../scss/object/component/Background';
@use '../scss/object/component/Link';
@use '../scss/object/component/Grid';

/*table*/
@use '../scss/object/component/Table';

/*button*/
@use '../scss/object/component/Button';

/*pagination*/




/*Project=====================*/
/*header*/
@use '../scss/object/project/button.scss';
@use '../scss/object/project/logo';
@use '../scss/object/project/seach';

/*menu*/
@use "../scss/object/project/menu-background";

@use "../scss/object/project/menu-wrapper";
@use "../scss/object/project/menu";
@use '../scss/object/project/menu-list';

/*hero*/
@use "../scss/object/project/hero";

/*section*/
@use '../scss/object/project/introduction';

@use '../scss/object/project/information';

@use '../scss/object/project/not-found';

/*card*/
@use "../scss/object/project/article";
@use '../scss/object/project/card';
@use '../scss/object/project/card-list';

/*image*/
@use '../scss/object/project/image';

/*list*/
@use '../scss/object/project/list';

/*code*/
@use '../scss/object/project/code';

/*table*/
@use '../scss/object/project/table';

/*text-foot*/
@use '../scss/object/project/text-foot';

/*button-foot*/
@use '../scss/object/project/button-foot';

/*map*/
@use "../scss/object/project/map";
@use '../scss/object/project/map-body';

/*pager*/
@use "../scss/object/project/pagination";

/*footer*/

@use '../scss/object/project/copyright';

/*Utility-------------*/
@use '../scss/object/utility/u-padding';