@use '../../foundation/mixin.scss'as m;

.Wrapper {
  display: block;
  position: relative;
  
  &.is-open{
    overflow-y: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  @include m.breakpoint(pc) {
    width: 100%;
    display: grid;
    grid-template-columns: 77% 23%;
    grid-template-rows: auto auto auto auto;
  }
}