@use '../../foundation/mixin.scss'as m;

.u-padding {
  padding: 0 1.1rem;

  @include m.breakpoint(tab) {
    padding: 0 1.9rem 0 2.3rem;
  }
  @include m.breakpoint(pc) {
    padding: 0 4.2rem 0 4.2rem;
  }
}