@use '../../foundation/mixin.scss'as m;

.button-foot {
  margin-top: 1.9rem;
  @include m.breakpoint(tab) {
    margin-top: 3.2rem;
    }
  @include m.breakpoint(pc) {
    margin-top: 2.5rem;
    }
  &__body {
    padding-top: 1.8rem;
    padding-bottom: 1.9rem;
    width: 100%;
    @include m.breakpoint(tab) {
      padding-top: 2.3rem;
      padding-bottom: 2.3rem;
      width: 60%;
      font-size: 0.9rem;
      }
    @include m.breakpoint(pc) {
      padding-top: 1.7rem;
      padding-bottom: 1.7rem;
      width: 30%;
      font-size: 0.7rem;
    }
  }
}