.footer_nav {
  display: flex;
  justify-content: center;
  margin: 0;
}
.footer_nav > li {
  margin-top: 0;
  font-family: 'm1';
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
.footer__list {
  margin-left: 0.4rem;
}

.copyright {
  margin-top: 1.5rem;
}