@use '../../foundation/mixin.scss'as m;

.logo {
  font-family: 'Roboto';
  font-weight: bold;

  @include m.breakpoint(pc) {
    display: flex;
    align-items: center;
  }

  &--small {
    font-size: 2.5rem;
  }
}