@use '../../foundation/mixin.scss'as m;
@use 'sass:math';

.menu {
  position: relative;
  padding-top: 4.5rem;
  padding-left: 2.5rem;
  padding-bottom: 7rem;

  &__heading {
    display: none;
  
    @include m.breakpoint(pc) {
      display: block;
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1.32;
      color: #707070;
    }
  }

  &-button {
    border: 0px none;
  
    &__close {
      /*×ボタン*/
      $btnWidth: 39px;
      $btnHeight: 5px;
      font-size: 0;
    
      &::before,
      &::after {
        /*上下線*/
        content: "";
        display: none;
        position: absolute;
        width: $btnWidth;
        height: $btnHeight;
        background: #707070;
      }
    
      &.is-open {
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 30px;
          right: 20px;
          width: $btnWidth;
          height: $btnHeight;
          background: #707070;
          transform: rotate(45deg);
        }
    
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 30px;
          right: 20px;
          width: $btnWidth;
          height: $btnHeight;
          background: #707070;
          transform: rotate(-45deg);
        }
      }
      @include m.breakpoint(pc) {
        display: none;
      }
    }
  }
}