@use '../../foundation/mixin.scss'as m;

.m-pagenation {
  &__body{  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5.5rem 0 1.6rem 0;
    margin: 0;
    font-family: 'm1';
    font-size: 1rem;
    color: #707070;
    @include m.breakpoint(tab) {
      justify-content: center;
      font-family: 'Roboto';
      font-weight: bold;
    }
  }
  &__result {
    display: none;
    @include m.breakpoint(tab) {
      display: block;
      order: -1;
    }
  }

  &__prev, &__next{
    &--icon {
      width: 1.1rem;
    }
    &--text {
      margin: 0 0.5rem;
      @include m.breakpoint(tab) {
        display: none;
      }
    }
  }
  &__prev {
    @include m.breakpoint(tab) {
      margin: 0 0.5rem 0 1rem;
    }
  }
  &__next {
    @include m.breakpoint(tab) {
      margin-left: 0.5rem;
    }
  }
}

.page {
  display: none;
  @include m.breakpoint(tab) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.4rem;
      width: 2rem;
      height: 2rem;
      border: solid 1px;
      border-color: #707070;
    
  }
  >a {
    display: block;
    padding: 0.3rem 0.8rem;
  }
  &-current {
    display: none;
    @include m.breakpoint(tab) {
      display: flex;
      justify-content: center;
      margin: 0 0.4rem;
      width: 2rem;
      height: 2rem;
      border: solid 1px;
      border-color: #707070;
      background-color: #3C2B1C;
      color: #fff;
      align-items: center;
    }
  }
}