@use '../../foundation/mixin.scss'as m;

.seach {
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    width: 15rem;
    height: 46px;
    padding-left: 3rem;
    padding-right: 0.5rem;
    margin-top: 30px;
    margin-right: 12px;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #707070;
    font-size: 1.1rem;
  
    @include m.breakpoint(tab) {
      width: 18rem;
    }
  
    @include m.breakpoint(pc) {
      margin-top: 0;
    }
  }

  &__icon {
    position: relative;
  
    &::after {
      content: "";
      display: inline-block;
      transform: translateY(-50%);
      position: absolute;
      top: 70%;
      left: 5%;
      width: 24px;
      height: 24px;
      background: url(../image/front-page/seach_icon.jpg) no-repeat center center / auto 100%;
  
      @include m.breakpoint(pc) {
        top: 50%;
      }
    }
  }

  &__submit {
    height: 46px;
    padding: 0.5rem 1.3rem;
    margin-top: 30px;
    font-family: 'm1-bold';
    color: #707070;
    background: linear-gradient(to bottom right, #F0EBE7, #DFD9D4); 
    border-color: #707070;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
  
    @include m.breakpoint(tab) {
      padding: 0.5rem 2rem;
    }
  
    @include m.breakpoint(pc) {
      margin-top: 0;
    }
  }  
}
