@use '../foundation/mixin.scss'as m;

.l-header {
  position: relative;
  background-color: #FFF7EF;
  text-align: center;
  color: #707070;
  padding: 4rem 1.5rem 2.5rem 1.5rem;
  
  @include m.breakpoint(tab) {
    padding-top: 2rem;
  }
  
  @include m.breakpoint(pc) {
    display: flex;
    justify-content: space-between;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 2.6rem;
  }
}